<hi class="display-4 mb-4">
        Search Users
    </hi>
    <form action="/results" method="GET">
        <div class="form-group">
            <input type="text" name="user" class="form-control form-control-lg" placeholder="Look for your User">
        </div>
        <input type="submit" value="Search" class="btn btn-dark btn-lg">
            <a href="/user" class="btn btn-danger btn-lg">Cancel</a>
    </form>
    